@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: #0070F3;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
